@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #222831;
}
input{
    border-radius: 40px;
    padding: 15px;
    height: 10%;
    width: 87%;
    margin: 25px 0;
    font-size: 20px;
    border: none;
    outline: none;
}
input:focus{
    outline: none;
}
button{
    border-radius: 40px;
    margin-bottom: 20px;
    width: 110px;
    height: 35px;
    background-color: #76ABAE;
    border: none;
    font-size: 15px;
}
h1{
    font-size: 55px;
}
h3{
    font-size: 25px;
}
.main{
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    display: grid;
    place-items: center;
}
.box{
    position: relative;
    color: #EEEEEE;
    padding: 15px;
    height: 80vh;
    width: 35%;
    border-radius: 10%;
    background-color: #31363F;
    text-align: center;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.box::after , .box::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #ff4545,#00ff99,#006aff,#ff0095,#ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 4px;
    border-radius: 10%;
    animation: 5s spin linear infinite;
}
.box::before{
    filter: blur(1.5rem);
    opacity: 0.5;
  }
  @keyframes spin{
    from{
      --angle: 0deg;
    }
    to{
      --angle: 360deg;
    }
  }
@media (max-width:600px) {
    .box{
        width: auto;
        height: auto;
        padding: 8%;
    }
    h1{
        font-size: 40px;
    }

}
